[2015-09-24 15:13] sgoendoer opened #1 "Global Registry Interfaces"
Which interfaces do we need / want for the global registry to have?

First off, we need an interface for users to resolve a GUID
Second, we need an interface for a user to upload a new set of data to the DHT
Finally, we need an interface for a user to update his data in the DHT

Question: do we want to have an interface for deleting data?

Proposal:

Build the interface REST-style, i.e.:

[code]

[2015-09-24 15:24] sgoendoer opened #2 "Global Registry Dataset"
How should the data be represented in the Global Registry?

We discussed so far having a list of UserIDs, some timestamp, the public key, signature, and salt.
We could add a human-readable username and a flag indicating whether the account is still active or not (see #1)

Proposal: Use JSON

GUID: "1V3G0H7EPFG55W52LUG5SN0ZFVTVMQTTZ6Q5TV5BBTIP05IA0E"

[code]

furthermore, this JSON object should be

[2015-09-28 23:04] rjflp opened #3 "Data timeout"
In a large database like the one we are about to create, data usually as an expiration date. This prevents the database size from continuously increasing if we fail do delete old data. This is usually referred to as "soft-state": data has to be periodically republished to prevent it from disappearing.

 In our usage scenario, we cannot have an expiration period of only a few hours. But we should c

[2015-09-28 23:07] rjflp opened #4 "Certificate expiration"
Public keys usually have an expiration data to limit the impact of an eventual compromise. In some PKI, there is a way to revoke credentials should the user believe the private key to have been compromised.

We are using a GUID that is derived from a public key. We want the GUID to last a very long time (a lifetime for a person, more for a company?).

Is is safe to assume that a public-private key

[2015-09-28 23:21] rjflp opened #5 "Interoperability and interface definition"
At what level do we want to define the interfaces?
Is it enough to define a REST API for "others" to use the DHT?
Or do we also want to define the protocols among nodes in the DHT?

E.g. BitTorrent clients use the Kademlia DHT for trackerless operation. However, there are two (main) different implementations of this DHT, one used by Vuze and the other by the mainline client (and others). We want t

[2015-10-06 15:30] #5 closed, assigned to nobody

[2015-10-22 09:14] ruimangas opened #6 "Future proof GUID"
Since the GUID is suppose to last an entire user's lifetime (80/90 years), how can we ensure that it lasts that long? Probably in 80/90 years a brute force attack can defeat it. Thus, a DHT with 128 or 160 bit would not be enough. Therefore, we'll need to increase the DHT address space.

[2015-11-12 15:19] sgoendoer opened #7 "First GlobalRegistry prototype running"
Hi,

Implementation has been updated :)

As of now, we have a first version of a global registry server running. It is available at 130.14.22.133:5002, 130.14.22.134:5002, and 130.14.22.135:5002. There are three nodes running ATM, so you can push to one node and query another.

You can test it using the following interface:

GET /guid/{guid} queries a dataset for said GUID

PUT /guid/{guid} will (

[2015-11-20 14:37] sgoendoer opened #8 "GlobalRegistryTest"
This is a small test class that tests the GReg interfaces

It basically just creates a dataset and keypair, puts it in a signed JWT and posts it to the GReg. Then, it pulls the same dataset from another GReg node.

public class GlobalRegistryTest
{
    public static void main(String[] args)
    {
        try
        {
            System.out.print("Creating keypair...");

[code]

}

[2016-01-14 13:38] #1 closed, assigned to nobody

[2016-01-14 13:40] sgoendoer opened #9 "Docker container"
As of now, deployment of the GlobalRegistry has to be done manually. A detailed step-by-step description can be found in the Wiki: https://github.com/reTHINK-project/dev-registry-global/wiki/Deployment-on-Debian-Ubuntu. For the future, a Docker image should be created.

[2016-01-19 10:06] sgoendoer opened #10 "Possible reasons for key revocation"
Reasons a user might want to revoke the keypair used to create the GUID

RFC3280 defined two main states of a revocation: HOLD (temporary) and REVOKED (indefinitely). RFC5280 defines the following reasons for a key revocation:

[code]

I don't think we would need all of those. Here is a (incomplete?) list of reasons in the rethink-context. Please feel free to extend and/or discuss the list items:

[2016-05-13 11:06] pchainho opened #11 "Global Discovery of Hyperties per IDP Identifier"
How can I use a User Identifier from an IDP (eg Google email) in order to discover associated Hyperty Instances?

[2016-05-17 13:24] sgoendoer commented on #11
Hello Paulo,

this use case has not really been discussed so far.

Our perspective on user identifiers was so far that "IdP user identifiers" are used independently from the reTHINK architecture. E.g. "signing up with Facebook on reTHINK service X" (as "login credentials" so to speak), but not using this as a way to address/contact other users.
From our perspective, a user would always use the GUI

[2016-05-17 13:44] jmcrom commented on #11
First of all, what is the actual need? Except for a self-care need making a list of all hyperties deployed on behalf of a single identity can be seen as a a privacy issue to me...

Second, as Sebastian wrote, the basic idea of registry services is to be domain-independent (both from CSP and IDP domains). Discovery service should provide additional search features.

[2016-05-17 14:10] sgoendoer commented on #11
The privacy issues Jean Michel mentioned are of course another important thing to take into account.

[2016-05-17 20:33] rjflp commented on #11
I agree that the proper place to address this issue would be the Discovery service. Even though not much is known about it, the need @pchainho expresses seems compatible with what I believe will be the services offered by the Discovery Service.

So far, we have agreed that the role of the Global Registry is to provide a mapping between GUID -> UserIDs. These UserIDs map to the CSPs' Domain Registr

[2016-05-19 17:41] rjflp commented on #11
I was dicussing this issue with @Ricardo-Chaves and @nuno-santos and they came up with another proposal for securing the introduction of the new mapping into the DHT.

The idea would still be to introduce a new mapping into the DHT: userID -> GUID
We would require the user to provide an assertion proving he owns the userID. The DHT nodes would validate this with the IdP before committing the write

[2016-05-20 09:18] sgoendoer commented on #11
Obviously, we could add a mapping of a (hashed) UserID to a GUID into the DHT. As this mapping rather seldomly changes, this probably wouldnt put too much additional load on the service.

This would mean that we would have two different data objects in the global registry. The one we have right now (GUID -> UserID) and (possibly multiple versions of) the reverse one (UserID -> GUID).

Regarding th

[2016-05-25 12:42] sgoendoer opened #12 "IdP ID for UserIDs in GlobalRegistry?"
There was a short discussion in Chatilion regading including additional information in the Global Registry. There wasn't a final decision on this, so I'd like to discuss this here as an open issue.

1.) Do we need / want to store a IdP ID (e.g. alice@google.com) for a UserID?

2.) If there are multiple IdP IDs for a UserID, how should this be handled? Possible solution: Store a list of IdP IDs for

[2016-05-25 12:55] jmcrom commented on #12
IMNSHO The link UserID/IdP-ID has nothing to do in the __Global__ Registry since it involves only domain-bound entities.

What could be more relevant would be the mapping GUID/IdP-ID (I remember making a brief comment on paperboard in Chatillon) sincd it would be a limited extendion of the current Global Registry encompassing IdP as another kind of domain-bound service just like CSP.

However, the

[2016-05-26 11:54] rebecca-copeland commented on #12
Hi WP4

Such mapping of GUID to a user-chosen IdP has the advantage of increasing usability - users can give their identifiers as name@IdP.com.... far more friendly. Such an identifier can be linked to several services, not just reTHINK.
However,if the identifier name@IdP.com at the IdP has several associated service identifiers (including GUID / UserID), which service is invoked? -

- the same se

[2016-06-07 16:47] rjflp commented on #11
@sgoendoer We want to make sure that no one is able to steal our "traffic".
If we have a mapping UserID -> GUID but only verify the GUID (by checking that the same key is being used), then, as you describe, anyone with a GUID could steal someone else's "traffic" by creating a mapping SomeElse'sUserID -> MyGUID.

On the other hand, if we only verify that someone owns the UserID, one could forward s

[2016-06-07 17:09] rjflp commented on #12
It seams to me that different persons are talking about different things in this thread.

@sgoendoer The original purpose of the Global Registry is to provide a mapping:
GUID -> list of UserIDs ( user@service_provider )

As a SP can choose to use an external service provider, I believe that it has already been determined that  a UserID can have one of two formats:
- user@SP (when the identity is l

[2016-06-15 11:42] sgoendoer opened #14 "New Global Registry Version 0.1.1 live"
Running on 130.149.22.133:5002, 130.149.22.134:5002, and 130.149.22.135:5002

See readme.md for changelog

[2016-06-20 12:23] sgoendoer commented on #14
Bugfix version 0.1.1a deployed

[2016-07-13 09:58] fbeierle commented on #12
At yesterday's advisory board meeting, @sdruesedow and @pchainho showed a demo. As far as I understood, you had to enter a IdP-identifier and the URL of the Domain Registry.

Is the IdP-Identifier used as the username with the SP/Domain Registry? If so, what if I want to use different IdP-Identifiers or none at all?

[2016-07-13 10:11] pchainho commented on #12
That should also be possible but I guess if I'm anonymous I won't be "discoverable"

[2016-07-13 10:14] fbeierle commented on #12
My question is: How does it work so far in the demo? What identifiers are used?

[2016-07-13 12:11] jmcrom commented on #12
I think this case is what @rjflp described as "user@IdP@SP" which makes perfectly sense IMHO in current Global Registry since it's a possible format of service UUID

[2016-07-13 12:21] sbecot commented on #12
Yes, I was about to answer: the demo shows what happens if you already know the identifier of the person you want to join, after the use of the discovery and the global registry, that, with the GUID gives you access to this information: the domain and the identifier, but is not showable yet.

[2016-07-13 12:29] fbeierle commented on #12
In the demo, IdP identifiers were used. In the specification of the Domain Registry, UserIDs are used to retrieve the running Hyperties for a user:
https://github.com/reTHINK-project/dev-registry-domain/blob/master/docs/DomainRegistryUserManual.md#get-hypertyuseruser_id

To me, it's still unclear, how exactly it is done in the demo.

Regarding the proposed scheme of "user@IdP@SP". Would this be an

[2016-07-13 12:35] ingofriese commented on #12
I think to use the IdP identifier is not consistent. It was a good work around to deal with the missing discovery (shame on us ;-) We have a first version

But if I want to be conected to Felix. I have or I discover his GUID. Resolving the GUID should finaly lead to endpoints. These endpoint should belong to Felix voice, video, chat or whatever hyperties.

Felix can use on his side whatever IdP he

[2016-07-13 12:37] jmcrom commented on #12
@ingofriese if you have a way to plug this search form onto the discovery service this would be just fine!

[2016-07-13 12:48] ingofriese commented on #12
The discovery with search engine, maintaining profiles, addapting search policies etc. is ready so far. Now I'm about to connect with the Global/Domain Registry. And I think the problems coming with the details.
I think we should at least write down (one page/post or short text) how it works accross discovery/registry/start hyperty/ connect to a second hyperty.) Who has to provide which parameter

[2016-07-13 13:05] sgoendoer commented on #12
@ingofriese, @fbeierle, and me had a discussion yesterday to clarify the interfaces between the Registries and the Discovery a bit more.

A question raised here was **"Why does the IdP-Identifier even play a role in the process of establishing a connection at all?"**

Lets use the following scenario:

User Alice has two different IdP-IDs: alice@google.com and alice@telekom.de. Her GUID is "GUID_A"

[2016-07-13 13:42] rjflp commented on #12
@sgoendoer

There needs to be an identifier of the user with the SP. We can either use the IdP Id used to register with the service or we can have the user choose a new one. But in the latter, we have to worry about colisions, mapping from one to the other, etc. The former is just simpler.

@fbeierle

user: something@myowndomain.com
IdP: google.com
SP: rethink.mysp.com

I would say you have one @

[2016-07-13 13:48] fbeierle commented on #12
But if "something@myowndomain.com" is my Google ID, Google won't be able to identify me only providing "something", right?

[2016-07-13 13:52] ingofriese commented on #12
@rjflp you said : There needs to be an identifier of the user with the SP.
Why? if alice wants to call bob. Bob needs some account at his CSP right. But Alice?
As long as Alice has and endpoint URL where she can send a message to Bob she don't need an identifier of Bob. So if we have the end point then there is no need for an additional identifier.
Right?

[2016-07-13 13:55] rjflp commented on #12
@fbeierle You are right. Then it's probably something like "user"@idp@sp and user can be "anything@anything".

@ingofriese When Alice wants to call Bob, the registries will only be used to locate Bob's endpoint, not Alice's. So, I think we are on the same page.

[2016-07-13 14:16] pchainho commented on #12
We already have syntax defined a long time for these situations:

https://github.com/reTHINK-project/dev-service-framework/tree/develop/docs/datamodel/core/address#user-url-type

and

https://github.com/reTHINK-project/dev-service-framework/tree/develop/docs/datamodel/core/address#user-account-in-a-service-provider

@ingofriese @rjflp service providers accounts should not be mandatory, that's what

[2016-07-13 14:53] ingofriese commented on #12
@pchainho .......yes I agree but also identifyer shouldn't be mandatory
two anonym endpoints (descibed by some arbitary urls) should be enough for a communication

[2016-07-13 15:17] rjflp commented on #12
@ingofriese It should be possible. But what is the use case? When would you like to call someone without knowing whom you are calling? Some kind of http://chatroulette.com/ ?

Anyway, in this case, the Registries would not be used, so this is a moot point.

[2016-07-14 11:18] ingofriese commented on #12
@rjflp I think there is are fundamental different understandings of IDs.
If I say to you for example ...if you want to make a Hotel Reservation call 0800 030123636...I give you an endpoint and no identifier. Because I don't now who has duty at the reception desk right now

This example transfered in a reTHINK world. I discover a Hotel profile and want to call it. I just get back a more or less ano

[2016-07-14 11:24] ingofriese commented on #12
In the IP world I get a IP address and send my package there regardless of the identity that owns that IP-address. Identity is handled on another layer.. Registries deliver more or less the current ip-addresses. (in reTHINK the endpoint-URLs) Registries are a kind of DNS.
And discovery is a kind of google.

[2016-07-14 13:15] rjflp commented on #12
@ingofriese
A complete call would follow these steps (this is a simplification of the final parts):
1) Perform a search on the (a?) Discovery Service and obtain a GUID
2) Using that GUID, obtain the information about the SPs being used by that "person" (UserIds)
3) From the UserIds, derive the address of the Message Node for each SP, and contact the Domain Registry (via Message node) in order to f

[2016-07-14 14:12] ingofriese commented on #12
How does step 3) could exactly work. Is there an example domain URI running.
Can I start a Hyperty with SP and UserID as parameters in one call.
Or do I have to start a hyperty and type it manually?

[2016-07-14 18:33] pchainho commented on #12
Currently, all our demos start from step3.

Pls have a look at our testbed:

https://hybroker.rethink.ptinovacao.pt/examples/

or even at TLabs testbed:

https://rethink.tlabscloud.com/examples/

I guess @sdruesedow can also explain better how TLabs own demo work

[2016-07-15 08:47] sgoendoer commented on #12
@rjflp @pchainho @ingofriese
I totally agree with @ingofriese regarding https://github.com/reTHINK-project/dev-registry-global/issues/12#issuecomment-232380611
In my understanding, users in reThink are identified by their GUID. So when users get in contact with each other, they "call" the other party's GUID. You call an GUID to reach one of the Hyperties running "behind" it. I don't see the need t

[2016-07-15 09:32] fbeierle commented on #12
Using IdP-identifiers in the UserIDs, we need (as far as I understand):
- username
- IdP domain
- SP domain
- messaging node URL
- domain registry URL

As far as I understand, both the messaging node URL and the domain registry URL can be derived from the SP domain.

I think, the User URL @pchainho linked in https://github.com/reTHINK-project/dev-registry-global/issues/12#issuecomment-232368617 (h

[2016-07-17 22:24] rjflp commented on #12
@sgoendoer A user can call another by specifying his GUID. The rest of it happens behind the scenes...

Following friday's WP4 conf call, I created this related issue https://github.com/reTHINK-project/dev-discovery/issues/2

[2016-07-18 17:03] pchainho commented on #12
@fbeierle Currently we need User URL and SP domain but the idea would be to only use User URL when using the Global Registry / Global Discovery.

I don't know what you mean by UserID but the user URL was defined as a user identifier that is independent of the service provider to support user portability.

acct://rethink.mysp.com/user://google.com/something@myowndomain.com

This seems correct but y

[2016-08-30 17:55] rjflp commented on #12
@pchainho

What is the use case of this?
The goal of using the GUID is being independent from the SP, which will probably not be known.
Furthermore, would the SP know the user's GUID? Would it keep a mapping from GUID->User for its own users?

[2016-09-01 11:46] sdruesedow opened #16 "Global registry connector for Messaging Nodes"
During the WP3 telco it was discussed that the global registry should also be accessed via the Messaging Nodes, comparable to the mechanism for the domain registry. For that purpose the MNs have to implement a Connector (Vertx already started this).

Since the GR is not inside MNs domain and there can be more than one Global Registry several questions popped up during the discussion:
- Each MN has

[2016-09-01 12:08] sgoendoer commented on #16
The GReg is a (one) directory service. There are not multiple isolated instances. All "nodes" are connected via a DHT. Meaning: What you write "to" one node, you can read "from" any other node of the GReg.

Regarding to your questions:

- As the GR nodes are connected, a MN would need to have at least one GR node in a list, e.g. a config file. See https://github.com/reTHINK-project/dev-msg-node-ve

[2016-09-20 15:30] ingofriese opened #18 "additional entry of user domain"
I'd like to see an additional JSON tag  "domain" or "service-domain".
In the current datamodel everything is written in "userIDs":
I can work with it somehow and extract the userID and domain from the URL.;
but I think since we use JSON anyway we should clearly name it
"domain":"tlabscloud.com"
"userID": "user://gmail.com/ingo.friese" or "ingo.friese@gmail.com"
I think this is not a big issue but

[2016-09-21 08:02] fbeierle commented on #18
As discussed in this Issue: https://github.com/reTHINK-project/dev-registry-global/issues/12#issuecomment-232905961 we already have a defined format for the UserIDs. There are some drawbacks to adding additional fields to the Global Registry Record (GRR):

We would just add redundant information. The GRR would be bigger and would have to be checked for inconsistencies, both of which would create a

[2016-09-21 08:12] jmcrom commented on #18
we may not change the storage format but provide additional REST interface if needed

[2016-09-21 08:28] ingofriese commented on #18
@fbeierle
I think we have now a much clearer picture than month ago about the discovery process.
The discovery service needs from the GRR two things to contact the Domain-Registry

1.) the url of the domain-registry and (e.g tlabscloud.com)
2.) the id of the user (idp-URL/user-name) (e.g. in.friese@gmail.com)

The current format puts both 1) und 2) in one URL and calls it "userID" what is basicall

[2016-09-22 18:38] rjflp commented on #18
Would a library to do this "splitting" work? No need for everyone to have to write this code over and over.

[2016-09-23 07:26] ingofriese commented on #18
@rjflp
Yes the splitting work could be done in a library.
But to be honest:
The interface delivers a lot of tags: active, salt, timeout etc. with all the security and JWT dance:
But the really two important once.....we put in one String where you need an additional library?...and than with a wrong tag or missleading tag name? common....
Currently we have the chance to correct it very easy. Later t

[2016-09-23 08:30] fbeierle commented on #18
We could either have redundant fields, which we have strong arguments against. Or we change the format of the UserIDs to have several fields instead. I'm unsure, what implications this would have. @pchainho Do you have an opinion on this?

[2016-09-26 17:17] pchainho commented on #18
If I understood it correctly I would be in favor of having the service domains in the Global Registry (I think I've already proposed something similar somewhere else)

On the other hand changing the format of User URLs have a big impact

[2016-09-27 08:08] ingofriese commented on #18
@pchainho
I think we should not change the format of the user URL "user://gmail.com/in.friese"
We just should devide the URL  like "tlabscloud.com/user/user://gmail.com/in.friese"
In two parts (domain  and identity). The complete URL nowbody uses sofar but the discovery service. So there should not be any impact.

[2016-09-29 08:20] jmcrom commented on #18
so if i summarize: the api may return
- either 1 field containing complete user URL
- or 2 fields containing the domain and the userid within this domain

it seems to me that the better choice is what the client services of this api would prefer

[2016-09-29 08:53] sgoendoer commented on #18
Generally, the "client services" in question here would be mostly the Graph Connector and the Discovery, right? So what would be most beneficial for these two components? One URL or a JSONObject with separated parameters?

[2016-09-29 11:28] pchainho commented on #18
I would say the global registry can be used by any component including Hyperties and should return a json object with addresses compliant with our address model ie the User URL and a second attribute with the user's domain.

[2016-09-29 17:39] rjflp commented on #18
@sgoendoer The main "client service" is the runtime.

[2016-09-29 17:41] rjflp commented on #18
Any solution works for us. We just need to know what to implement. Where else are these URL used? We should use the same data format (json objects) everywhere.

[2016-09-30 08:01] ingofriese commented on #18
@jmcrom exactly you name the poblem
@pchainho I totaly agree with you
@rjflp from the doamin registry perspective there should be nothing to be changed
@sgoendoer you know my preference :-) - > two JSON arguments

[2016-09-30 11:27] sgoendoer commented on #18
@jmcrom Having a way to request either format as JM proposed will only work with an ugly workaround storing BOTH formats in the dataset. This is because the GReg CAN NOT change the dataset when storing or returning it. Otherwise, the integrity would be voided.

How and when are we making a decision to change the current [format](https://github.com/reTHINK-project/dev-registry-global#json-schema) f

[2016-10-24 15:14] sgoendoer opened #19 "GReg releases"
Version 0.2.5 of the GReg has been deployed. This update reflects the new dataset formats and brings HTTP response codes. The DHT has been reset.

[2016-11-01 13:17] #16 closed

[2016-11-18 09:20] jmcrom opened #20 "global registry entry for non-reTHINK services"
could we use GR dataset to store non-reTHINK urls (IMS, slack, skype, etc.) ?

theoretically I do not see any blocking reason, and it will make GR even more universal

see also [here](https://github.com/reTHINK-project/specs/issues/11) and [here](https://github.com/reTHINK-project/dev-discovery/issues/3)

[2016-11-18 09:22] sbecot opened #21 "Registring new types of services in the registry"
To allow https://github.com/reTHINK-project/dev-discovery/issues/3 we can add new types of services with dedicated model.
Eg: sip, mail, or default with any kind of url for instance.

[2016-11-18 09:23] sbecot commented on #21
Doubled issue with #20

[2016-11-18 09:23] #21 closed

[2016-11-18 09:30] sgoendoer commented on #20
Something like this could be very easily added to the dataset. It wouldn't interfere with any interference. Question would be what kinds of legacy services we would want to be allowed to be added...

[code]

[2016-11-18 09:37] jmcrom commented on #20
to the extreme: any means of contact, including:
- mail
- phone/sip/ims
- OSN wall pages: facebook/google+/linkedin

[2016-11-18 11:30] sbecot commented on #20
It may be difficult to be comprehensive, so a type for an "anykind" of service could be reserved.
{"type": "unknown", "id": "john.doe", "url":"http://mywonderfullapplication/"}

For facebook it would be more like
        {"type": "facebook", "id": "fluffy", "url":"http://facebook.com/"}
or
        {"type": "facebook", "id": "fluffy"}

[2016-11-21 14:43] sgoendoer opened #22 "Security discussion for requested legacy ID lookup in GlobalRegistry"
As requested by @pchainho in Lisbon, I started working on the implementation of the legacy ID lookup in the Global Registry as discussed with @rjflp. Anyhow, I found some security flaw in the system. Hence, I stopped the development for now until the issue is resolved.

Long story short: I would say we drop the feature of looking up users via alternative identifiers in the GReg. Looking up users v

[2016-11-30 19:55] rjflp commented on #22
@sgoendoer Two questions/comments about our post:

This is true for every data stored into the DHT, even GUID. We are fighting this in two ways:
- Provide way to check that the retrieved data is valid (done for the GUID, a method is needed for the userID)
- Limiting the participation in the DHT to trusted partners. He currently have two methods CA and Blockchain and evaluation both on planet lab.

[2016-11-30 21:10] rjflp commented on #22
I agree with  @sgoendoer: I also see no way of doing this for "legacy" identifiers. However, after discussing this with @pchainho  and @Ricardo-Chaves I think we may have a chance of doing this for rethink identities only.

What we need as a way of verifying the authenticity of the new entry (userId->GUID), the same way we currently can verify that an GUID->userIds@SPs entry is valid. The IdP can

[2016-12-01 08:33] jmcrom commented on #22
odd things happen here: we began designing _legacy ID lookup in GlobalRegistry_ and we end up with ___non-___ _legacy ID lookup in GlobalRegistry_

[2016-12-01 09:11] sbecot commented on #22
Well, besides the discussion, I don't even see any justification on using the Greg instead of the discovery service.
Would it be possible to have a valid use case?

The IdPProxy is something that has been normally designed before (and out of) rethink and should not depend of the runtime. What you are talking about is the IdPStub provided in the catalogue, which is a wrapper of the primary concept.

[2016-12-01 09:35] sgoendoer commented on #22
Thank you @rjflp, @jmcrom, and @sbecot  for your comments

True. The approach of a limitation to trusted nodes allows this.

A timestamp is used. The idea is/was that the nodes check wether the datasets already timed out and refuse to deliver/handle them if so.

This is doable. Anyhow, this requires the IdP to provide services and interfaces of creating assertions as well as verifying them. The ov

[2016-12-01 13:49] rjflp commented on #22
@sgoendoer

The user is free to use the same IdP with different CSPs. If a UserId was only associated with an CSP the problem would not exist.

I guess we are using IdP technology that is already standardized and can't be changed.

 @pchainho can you please provide us with the motivation/use cases for this?

[2016-12-01 13:56] sgoendoer commented on #22
True. Anyhow, if we wanted to build the lookup of users in ReThink around IdP-IDs, we would have / should have created something different than a DHT-based registry. Then, we probably would have/should have specified that the IdPs provide some kind of directory service interface pointing to either the domain registry or BE the domain registry altogether.

@pchainho A usecase why we need this and i

[2016-12-02 09:15] pchainho commented on #22
In terms of use cases, I think we have already discussed in several issues (eg [this](https://github.com/reTHINK-project/dev-discovery/issues/1#issuecomment-229977110)) but in general they are the ones implemented in our scenarios and demos, driven by [WP1 use cases](https://github.com/reTHINK-project/use-cases/issues/3).

[2016-12-02 09:16] sgoendoer commented on #22
Yes, but this is *THE* use-case for the discovery, isn't it?

[2016-12-02 09:34] sbecot commented on #22
I agree with @sgoendoer, there is no justification in [here](https://github.com/reTHINK-project/dev-discovery/issues/1#issuecomment-229977110) for your demand, and more, @rjflp [comment](https://github.com/reTHINK-project/dev-discovery/issues/1#issuecomment-230512052) is in contradiction.
The discovery service can allow to retreive a GUID, this GUID can be used with the Global Registry to find the

[2016-12-02 09:40] pchainho commented on #22
yes, this is discovery that only requires the usage of the Global discovery. I just want to discover hyperties per user Identifier managed by an IdP.

I don't think T-Labs discovery service was designed for this. I understand it more like a Search Engine (similar to Google search or Microsoft Bing) to be used by humans that anyone can implement and provide as a Service / App on top of reTHINK fram

[2016-12-02 09:51] rjflp commented on #22
@sbecot I don't think my comment is contradictory. It is precisely because I see the Discovery Service much like a human usable search engine, just like google or bing or yahoo, that I concede that if we indeed need a service, usable by the runtime, for providing a UserId->GUID mapping, the Global Registry could be a valid option.

I've always seen the Discovery Service like a place were companies

[2016-12-02 09:55] sbecot commented on #22
@rjflp I agree with the view of the Discovery service, but nothing prevent to use it with automatic searches.
@pchainho: You are performing 3 steps only the first time, if/when you don't have the GUID. Then you have it and can only use 2 steps. It is the same when you use the public directory to look for a phone number and including it in your own directory.

[2016-12-02 10:06] pchainho commented on #22
By my "own directory" you mean the Graph Connector?

I was not thinking about having all people / things I communicate to, to be stored in the Graph Connector.

On the other hand, as soon as I have retrieved from the Global Registry the GUID and associated dataset. I can directly perform a query to the Domain Registry. Ie I would have 2 steps for the 1st time and then just 1 step.

[2016-12-02 10:47] rjflp commented on #22
@sbecot You can perform a DNS search for an IP address, which returns the canonical name of the host. It is call a reverse DNS search. You can do it with dig, e.g. "dig -x 185.63.192.20". It is implemented the same way as regular DNS names, be using a special TLD (.in-addr.arpa) and reversing the IP octet order. E.g. 185.63.192.20 is represented as 20.192.63.185.in-addr.arpa.

What do you mean by

[2016-12-02 12:18] jmcrom commented on #22
@pchainho 3 cases for Alice to call Bob:

1. Alice does not know much about Bob but his name and some assocciated elements (city, work, etc.): she uses the Discovery service to get the GUID, then the Global Registry to get a list of CSPs and finally a CSP to get contact endpoints.
2. Alice has already tried to reach Bob and she has his (permanent) GUID (e.g. address book, history): she onlm has to

[2016-12-02 12:24] ingofriese commented on #22
To me the ID lookup is not something that belongs to the Global Registry
The whole process encompasses 3 modules:
1. Domain registry for listing of all current Hyperty URLs of a certain uID in this domain at this time
2. Global Registry is a one to many mapping. But one-way....for good reasons.
  (If a user has 2 GUIDs  ...one he wants to keep private and ...one public. When both entries have a en

[2016-12-02 13:15] sbecot commented on #22
@rjflp true, but the dig is another service and is not the nominal case. More: if you do a reverse search you can find a different answer (fqdn1->IP->fqdn2). By contractor I meant the one who subscribed to the DNS entry. Anyway we derive from the original case, and I think the case have been solved during the WP4 call.

[2016-12-02 17:53] pchainho commented on #22
@jmcrom

True, but in your examples, you don't have the original use case where discovery is performed for a certain IdP identifier selected by the user when Hyperties are loaded. Also, as soon as you have retrieved for the 1st time the GUID and associated dataset from the Global Reg, next time I can directly perform a query to the Domain Registries ie only one step is needed not two. In case ther

[2016-12-06 09:44] AlexTouze opened #23 "Call Global Registry"
I try to call the Global registry with an xhr request but I receive an error 500 in response.
What parameters are expected in enter ?

[2016-12-06 09:50] sgoendoer commented on #23
https://github.com/reTHINK-project/dev-registry-global#interfaces

What exactly is the request you are sending?

[2016-12-06 10:08] AlexTouze commented on #23
I send this request :

request(
    {
      method: 'PUT',
      proxy: 'http://proxy.rd.francetelecom.fr:3128/',
      uri: 'http://130.149.22.133:5002/guid/' + req.body.guid,
      port: '5002',
      headers: {
        'Content-Length': req.body.jwt.length,
        'Content-Type': 'application/json'
      },
      data: JSON.stringify(req.body.jwt)
    }

[2016-12-06 10:17] sgoendoer commented on #23
I get these errors in the logs:

Aparently, the JWT is malformed. What is in the JWT?

[2016-12-06 10:28] AlexTouze commented on #23
The JWT is a jsonwebtoken

[2016-12-06 10:32] AlexTouze commented on #23
I try to generate a jsonwebtoken as in java sample (TestJWT.java)

[2016-12-06 10:58] sgoendoer commented on #23
Please note that due to changes in the Dataset schema, these classes are outdated. If you want to create a valid Dataset JWT, use test/DatasetTool.java

[2016-12-07 09:04] sgoendoer commented on #23
Has this been solved?

[2016-12-07 09:36] AlexTouze commented on #23
I try to generate a good JWT

[2016-12-07 09:38] sgoendoer commented on #23
You can always try the one from the examples https://github.com/reTHINK-project/dev-registry-global#put-guidguid or create one using test/DatasetTool.java before creating the JWT by yourself. This way, you can make sure that the interface is working fine.

[2016-12-07 10:52] AlexTouze commented on #23
This is an example to better explain my JWT's generation :

In enter I have this

- Guid PublicKey PrivateKey Salt :

`guid : "d0mRlfKDsHqVd-mKB1eYIGqYH15mdwwDSFveDtCb9j0"
privatePEM : "-----BEGIN PRIVATE KEY----- MEUCAQAwEAYHKoZIzj0CAQYFK4EEAAoELjAsAgEBBCAwn4eUFU6Gozcgrbt56sMd
ogvmeMENLNg8L1wNWRKmV6EFAwMAAAA=
-----END PRIVATE KEY-----"
publicPEM : "-----BEGIN PUBLIC KEY-----MFYwEAYHKoZIzj0CAQYFK4

[2016-12-07 11:13] sgoendoer commented on #23
OK I guess I found your error:

When creating the JWT, you need to set a "private claim" called "data" (https://tools.ietf.org/html/rfc7519#section-4.3), which has to have the base64URL-encoded dataset as a value. Looks like you just set the payload of the JWT plain to be the base64URL-encoded dataset. This will cause the server to throw an "invalid dataset" error.

You can check easily via https:

[2016-12-14 12:23] Anon1987 commented on #23
@AlexTouze  the JWT is formed of three parts separated by a dot. i.e: header.payload.signature
As @sgoendoer said, you can verify your JWT on jwt.io. Alternatively you can also decode each part separatly with the javascript atob(b64string) function.

When decoding your example token, we get

{  "alg": "ES256",
  "typ": "JWT"}
.
B64_STUFF_ENCODED
.
SIGNATURE

As Sebastian said, it should be:
{  "al

[2016-12-14 12:29] Anon1987 commented on #23
However, I'm not sure why it is done like that. In practice, what we are actually doing is including the JSON dataset into another JSON object with a single "data" member. And the payload is then twice encoded in B64. There is a substantial overhead in terms of message size: +33% in Alexandre example.

[2016-12-14 12:30] KCorre commented on #23
@AlexTouze the JWT is formed of three parts separated by a dot. i.e: header.payload.signature
As @sgoendoer said, you can verify your JWT on jwt.io. Alternatively you can also decode each part separatly with the javascript atob(b64string) function.

When decoding your example token, we get

{ "alg": "ES256",
"typ": "JWT"}
.
B64_STUFF_ENCODED
.
SIGNATURE

As Sebastian said, it should be:
{ "alg": "

[2016-12-14 12:30] KCorre commented on #23
However, I'm not sure why it is done like that. In practice, what we are actually doing is including the JSON dataset into another JSON object with a single "data" member. And the payload is then twice encoded in B64. There is a substantial overhead in terms of message size: +33% in Alexandre example.

[2016-12-16 08:35] sgoendoer commented on #23
To answer the "why":

A JWT's payload has to be a JSON object with claims. Hence the "data" claim. As of https://tools.ietf.org/html/rfc7519#section-4.3, allowed types of claims are not specified. So in theory, a nested JSON object would do just fine. Anyhow, we ran into several implementation issues doing this. Hence: The encoding of the claim's payload (meaning the JSON dataset itself) is done d

[2016-12-16 10:43] sgoendoer commented on #20
Before we finally implement this feature, I'd like to discuss and fix a data format here. So here goes a first proposal from my side:

### intention

The intention behind this feature is to allow people to discover different /legacy ways of contacting a person.

### use case

Alice looks up Bob's GUID. As he has no running reThink-compatible endpoint running at the moment, she tries calling him on

[2016-12-16 10:59] sgoendoer commented on #20
We probably need to specify further what "type" can be

Type:
- website / url
- email
- phone

do we want to allow "offline" identifiers too? Like

- postal address
- coordinates (lat-lng)

[2016-12-21 17:01] AlexTouze commented on #23
@sgoendoer I tried to follow your recommandations but I still have an 500 error when I call the api. However I verify the jwt that I send like this :

` jwt.verify(rToken, currentUser.publickey, {algorithms: ['ES256']}, function(err, decoded) {
     console.log(decoded) // bar
     console.log(err)
  });`

With:

- Token :
`eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjoiZXlKbmRXbGtJam9pVjAxSWVrc

[2016-12-22 08:04] sgoendoer commented on #23
There are \r\n linebreaks in the public key as UTF8 characters. I guess that's at least not helping. Apart from that, I don't spot any other errors.

[2017-01-10 10:45] sbecot commented on #9
The page

doesn't exist (any more?). The process to build on ubuntu is unclear, I tried to use maven (without eclipse) but I have dependencies issues.

[2017-01-10 10:52] sgoendoer commented on #9
Hello, the Page still exists and is reachable via https://github.com/reTHINK-project/dev-registry-global/wiki/Deployment-on-Debian-Ubuntu:

Anyhow, we are currently working on a Spring-based, dockerized version of the GReg that will probably be much easier to setup and maintain.

[2017-01-10 11:08] sbecot commented on #9
Ok, thank you, but I notice that this page doesn't explain how to compile it without eclipse. Maybe the D6.1 will help

[2017-01-10 11:18] sgoendoer commented on #9
There’s another wiki page for the build process:

https://github.com/reTHINK-project/dev-registry-global/wiki/Building-GReg-via-Eclipse-Maven

--
Dipl.-Inform. Sebastian Göndör

Telekom Innovation Laboratories | TU Berlin
Service-centric Networking (SNET)

Ernst-Reuter-Platz 7 | TEL 19 | 10587 Berlin | Germany

Phone:  +49 (30) 8353-58166
Mobile: +49 160 4794391

sebastian.goendoer@tu-berlin.de<ma

[2017-01-10 11:18] sgoendoer commented on #9
Please confer to https://github.com/reTHINK-project/dev-registry-global/wiki/Building-GReg-via-Eclipse-Maven

[2017-01-10 13:39] sbecot commented on #9
Well _without Eclipse_ :-).

[2017-01-10 13:46] sgoendoer commented on #9
Are you using any other IDE? IntelliJ perhaps?

[2017-01-10 13:55] emmelmann-fokus commented on #9
Just a side note:  installation should also work without an IDE, right?!

[2017-01-10 14:07] sbecot commented on #9
Right, I just want to: git clone, configure, build, run. Or even just run if a docker image is available.
Anyway, this is a testbed machine, so I don't have any IDE on it, I just access throught putty.
Each block of the project has a different techno: java, node, etc... Installating a complete development suite for each one is not possible.

[2017-01-10 14:11] emmelmann-fokus commented on #9
Please note that for WP-6, the final result will have to be provided in a docker that is ready to run anyway as we agreed to move towards docker compose for providing (backbone) testbed components.

[2017-01-10 14:50] sbecot commented on #9
Ok.
We are then waiting for the docker version. By the way, we managed to install it, it is accessible here
http://161.106.2.23:5002/

[2017-01-10 16:32] AlexTouze commented on #23
Hello @sgoendoer I watched the RestService.java file and the line with the logs

`@PUT
	@Path("guid/{guid}")
	// @Consumes("application/json") // there is no application/json+jwt content
	// type yet
	public Response putData(String jwt, @PathParam("guid") String guid) {
		LOGGER.info("PUT Request received: " + jwt);`

I can see that the jwt element is null. What is the name of parameter which to b

[2017-01-11 12:45] sgoendoer commented on #23
There is no parameter name for the jwt. The jwt has to be put AS IS into the body of the HTTP PUT request as used here: https://github.com/reTHINK-project/dev-registry-global/blob/tmp_master/README.md#put-guidguid

[2017-01-11 17:00] rjflp commented on #11
The solution I proposed in the previous post does not work as the IdP would  hold the assertion for a few minutes.

[2017-01-12 14:52] sgoendoer commented on #20
This has been implemented in the upcoming version 0.3.x

[2017-01-12 14:52] #20 closed

[2017-01-17 14:58] sgoendoer opened #24 "GReg 0.3.0"
The newest GReg version brings some cool new features:

- Spring Boot 1.4.3 instead of Jetty/jsvc-daemonization
- Dockerization
- Reworked configuration options: No more config file fiddling
- Cleaned up code
- Meaningful HTTP responses and error messages
- More and more thorough dataset integrity checks
- LegacyID support

The default branch has been re-set to `master` to prevent misunderstanding

[2017-01-17 16:16] jmcrom commented on #24
There is a compilation to do before building the docker right?

[2017-01-17 20:01] sgoendoer commented on #24
Sure. Use `maven clean` and then `maven install`

I'll update the installation/build guide within the next days

[2017-01-18 13:22] jmcrom commented on #24
oka don't forget prerequisites such as java version please

[2017-01-18 13:58] sgoendoer commented on #24
I created a wikipage for all that: https://github.com/reTHINK-project/dev-registry-global/wiki/GlobalRegistry-HowTo

[2017-02-02 14:59] sgoendoer opened #26 "GReg 0.3.1"
We released a new GReg version with some minor changes:

- updated dependencies
- dataset check via json schema
- thorough dataset format checks
- support for multiple dataset versions

[2017-02-03 11:07] jmcrom opened #27 "Nodes running GReg"
List of GReg Testbed nodes:

- 130.149.22.220:5002 (version 0.3.3, TUB, default node)
- 130.149.22.227:5002 (version 0.3.3, TUB)
- 161.106.2.20:5002 (version 0.3.2, Orange)

[2017-02-03 15:04] jmcrom commented on #27
on Orange testbed http://161.106.2.20:5002/

[2017-02-10 15:29] sbecot opened #28 "Suppress an entry"
I don't see any interface for suppression of an entry.
In #1 , DELETE method is proposed, or PUT with inactive. But I think it is not available.
Beside the fact that the test platforms will be populated with many fake entries, why wouldn't it be possible to erase the traces of one's identities?

[2017-02-13 08:39] sgoendoer commented on #28
TL;DR:

Use "active" and "revoked" flags to (de)activate datasets. Dataset time out at "timeout" and should be renewed by the client periodically.

Full response:

We decided against allowing a delete operation, because it would give way to the (unlikely) possibility of another user "claiming" the same GUID and thus essentially taking over an identity. Anyhow, as stated, the possibility of this ha

[2017-02-13 11:51] sgoendoer opened #29 "dataset: defaults"
We had a discussion regarding the usage and format of the defaults in today's telco.

Right now, the dataset specifies a mandatory parameter "defaults", which is an object with three mandatory parameters "voice", "chat", and "video" of type "string" - more optional parameters may be added though.

IIRC, these values are used by a user's runtime to specify what hyperty/app to use when initiating a

[2017-02-13 13:17] sbecot commented on #29
imo the hyperty URL is not the best option because it is not stable, and it can be retreived by the domain registry. I would support a link to one of the reachable identities, but this is to discuss.

[2017-02-14 15:43] sgoendoer opened #32 "GReg 0.3.2"
A new version of the GReg is available in the GitHub repository. Please be advised that our seeding server changed (was: 130.149.22.133, now: 130.149.22.220), which is NOT YET running due to administration issues. Until this is fixed, other nodes cannot join the ring. Hence, please wait with upgrading the 0.3.x GReg nodes until Felix announces that the seeding server is up and running.

Changelog

[2017-02-15 16:29] #2 closed

[2017-02-15 16:30] #9 closed

[2017-02-15 16:30] #14 closed

[2017-02-15 16:31] #19 closed

[2017-02-15 16:31] #24 closed

[2017-02-15 16:31] #26 closed

[2017-02-15 16:31] #3 closed

[2017-02-15 16:31] #4 closed

[2017-02-15 16:31] #6 closed

[2017-02-15 16:31] #7 closed

[2017-02-15 16:32] #8 closed

[2017-02-15 16:32] #18 closed

[2017-02-15 16:33] fbeierle commented on #23
please re-open if needed

[2017-02-15 16:33] #23 closed

[2017-02-15 16:35] fbeierle commented on #32
I set up the server and installed the GReg version 0.3.2:
http://130.149.22.220:5002/

When you start another node with version 0.3.2, it should automatically connect to the existing DHT.

[2017-02-15 16:35] fbeierle commented on #27
Here at TU Berlin, we are running a node at: http://130.149.22.220:5002/ (version 0.3.2)

[2017-02-15 16:49] jmcrom commented on #27
Orange instance upgraded to 0.3.2

[2017-03-29 13:20] sgoendoer opened #34 "GReg 0.3.3"
New version with a few fixes

[2017-03-29 13:23] #32 closed

[2017-03-30 07:21] jmcrom commented on #27
Orange instance upgraded to 0.3.3

[code]

it looks like we are connected...

[2017-04-06 11:56] #34 closed

[2017-04-06 11:57] sgoendoer opened #35 "GReg 0.3.4"
New version of GReg released. The main change is reconnect functionality that will automatically reconnect nodes that became separated from the ring periodically.

[2017-04-06 13:06] jmcrom commented on #27
TUB and Orange instance upgraded to 0.3.4